<ion-view  overflow-scroll="true" >
    <ion-content scroll="true"  overflow-scroll="true">
        <div class="serach">
            <h4>Buscar restaurante</h4>
            <div class="m-field">
                    <i class="material-icons">
                            search
                            </i>
                <input type="text" name="q" placeholder="Pesquisar restaurantes">
            </div>
            <div class="m-field">  
                    <i class="material-icons">
                            gps_fixed
                            </i>          
                <input type="text" name="city" placeholder="Pesquisar por cidade">
            </div>
            <a href="javascript:;" ng-click="navigate('restaurants')" class="btn">buscar</a>
        </div>
        <div class="count">
            <div class="count-item">
                <div class="count-number">15</div>
                <div class="count-label">Casas</div>
            </div>            
            <div class="count-item">
                <div class="count-number">15</div>
                <div class="count-label">Pedidos</div>
            </div>
            <div class="count-item">
                <div class="count-number">15</div>
                <div class="count-label">Usuários</div>
            </div>
        </div>

        <h4>Navegue Pela Culinária</h4>
        <div class="categorys">
                <div class="category-item">
                        <div class="category-number"><img src="assets/app/images/bbq.png"></div>
                        <div class="category-label">BBQ</div>
                    </div>                     <div class="category-item">
                            <div class="category-number"><img src="assets/app/images/bbq.png"></div>
                            <div class="category-label">BBQ</div>
                        </div>                     <div class="category-item">
                                <div class="category-number"><img src="assets/app/images/bbq.png"></div>
                                <div class="category-label">BBQ</div>
                            </div>                     <div class="category-item">
                                    <div class="category-number"><img src="assets/app/images/bbq.png"></div>
                                    <div class="category-label">BBQ</div>
                                </div>                     <div class="category-item">
                                        <div class="category-number"><img src="assets/app/images/bbq.png"></div>
                                        <div class="category-label">BBQ</div>
                                    </div>                     <div class="category-item">
                                            <div class="category-number"><img src="assets/app/images/bbq.png"></div>
                                            <div class="category-label">BBQ</div>
                                        </div>     
             

            </div>        

    </ion-content>
</ion-view>