<ion-view  overflow-scroll="true" >
        <ion-content scroll="true"  class="profile" overflow-scroll="true">
                <!-- <div class="scroll"> -->
                        <div class="profile-hero">
                            <img src="https://lh3.googleusercontent.com/-EWRu5vMbJto/AAAAAAAAAAI/AAAAAAAAAAA/ABtNlbBfyrNFAYjUdOCfi9nTk4i_ZrzsVw/mo/photo.jpg?sz=250" alt="">
                        </div>
                        <div class="name">Guilherme Henrique</div>
                        <div class="phone"> 33 999237393</div>
                        <div class="m-menu">
                            <ul>
                                <li><a href="#" class=""><i class="material-icons">loyalty</i>Restaurantes</a></li>
                            <li><a href="#"><i class="material-icons">favorite</i>Favoritos</a></li><li><a href="#"><i class="material-icons">pie_chart</i>Faturamento</a></li><li><a href="#"><i class="material-icons">edit</i>Editar Perfil</a></li><li><a href="#"><i class="material-icons">
                                        arrow_back
                                        </i>Link</a></li></ul>
                        </div>
                    <!-- </div> -->
        </ion-content>
    </ion-view>