<ion-view  overflow-scroll="true" >
    <ion-content scroll="true"  class="profile pr3" overflow-scroll="true">
            <!-- <div class="scroll"> -->
                <div class="infoxx">
                    <div class="headd">Tarefa atual</div>
                    <div class="infog">
                        <div class="cc exe">Tarefa atual</div>
                        <div class="cc">Tarefa atual</div>
                        <div class="cc">Tarefa atual</div>
                    </div>
                    <div class="infot">
                        <div class="caption">Tempo restante</div>
                        <div class="timerr">15m 25s</div>
                    </div>
               
                </div>
    </ion-content>
</ion-view>