
<ion-view  overflow-scroll="true" >
        <div class="my-menu" style="display:none" ng-class="{ 'ng-show': routing != undefined}">
                <ul>
                    <li class="logo" ng-show="!shouldBack">
                        <img src="http://xvideos.blog.br/wp-content/uploads/2017/03/Xvideos-1.png">
                    </li>

                    <figure class="logo-yeld" ng-show="shouldBack"><img src="http://xvideos.blog.br/wp-content/uploads/2017/03/Xvideos-1.png" class="logo-inner"></figure>


                     <li ng-show="shouldBack" class="ng-hide">
        
                             <a href="javascript:;" ng-click="navigate(routing)"><i class="material-icons">
                                 arrow_back
                                 </i><span class="ng-binding">{{''}}</span></a></li>
                 <li ng-show="!shouldBack" ng-click="navigate('profile')">
        
                    
        
                    <li class="more" ng-click="ToggleMenu()">
                            <div class="menu-vl" ng-show="displayMenu">
                                    <ul><li><a href="javascript:;">Heterosexual</a></li><li><a href="javascript:;">Gay</a></li><li><a href="javascript:;">Travesti</a></li></ul>
                            </div>
                        <a href="#" ng-hide="routeName == 'Perfil'">
                            <i class="material-icons">more_vert</i></a></li>
        
                         <li class="busca0 clear" ng-class="{'clear': !searching }">
                             <i  ng-click="onlyBack()" class="material-icons b">
                                arrow_back
                                </i>	
                                <input ng-model="searchField" type="text" placeholder="Pesquisar vídeos...">
                        <div ng-hide="routeName == 'Perfil'">
                            <i ng-click="shouldSearch('btn')" class="material-icons">
                        search
                        </i></div></li>
                        </ul>
            </div>
    <ion-content scroll="true"  scroller overflow-scroll="true" class="resto"> 
       
        <div class="ad-singlev">
                    <div class="ad ripple">ad here</div>
                </div>
                <div class="no-results"  ng-show="!videos && !loading">Sem resultados</div>
                <div class=" spin inner" ng-show="loading" >
                    <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#dd0000">
                        <g fill="none" fill-rule="evenodd">
                            <g transform="translate(1 1)" stroke-width="2">
                                <circle stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
                                <path d="M36 18c0-9.94-8.06-18-18-18" transform="rotate(260.908 18 18)">
                                    <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="500ms" repeatCount="indefinite"></animateTransform>
                                </path>
                            </g>
                        </g>
                    </svg>
                        </div>
                <div class="categorys " ng-class="{'fadeIn': cat}">
                        <ul>
                            <li ng-if="$index < 4" ng-repeat="term in cat" ng-click="filterCategory(term.slug)"><a class="ripple" href="javascript:;" ng-class="{'active': category == term.slug }">{{term.name}}<span>{{term.count}}</span></a></li>                           
                            <li ng-click="navigate('categorys')" ng-show="cat"><a href="javascript:;" >mais...</a></li>                           
                        </ul>
                    </div>
                <section class="thumbs" ng-show="!loading && videos != null && videos.length > 0" ng-class="{'fadeIn': loading == false && needChange == true, 'displayed': loading == false && needChange == true, 'displayed': needChange == false}">
                    <div class="clear"></div> 
                    <a href="javascript:;"
                        ng-click="navigate('restaurant', {videoId: video.uid})"
               
                        id="video_{{video.uid}}"
                        ng-repeat="video in videos"> 
                        
                        <span class="thumb-img"> 
                                <!-- <span class="time" ng-show="video.length">{{video.length}}m</span> -->
                                <!-- <span class="time is-hd" ng-show="video.type == 'hd'">HD+</span> -->
                            <img ng-src="{{video.image}}" class="ripple" /> 
                        </span> 
                        <span class="title">{{video.title_trimed}}</span> 
                    </a>
                    <div class="clear"></div>
                    
                    
                    <div class="fooot" ng-show="videos.length > 10 && loadingMore && !noPosts">
                            <a href="javascript:;" class="ripple btn btn-danger btn-relacionados">
                                Aguarde...
                            </a>
                        </div>
                    <div class="fooot" ng-show="videos.length > 10 && !loadingMore && !noPosts" ng-click="loadMore()">
                        <a href="javascript:;" class="ripple btn btn-danger btn-relacionados">
                            Ver mais
                        </a>
                    </div>
                   
                    <div class="clear"></div>
                </section>   
            
    </ion-content>
</ion-view>