<ion-view overflow-scroll="true" scroll="true" overflow-scroll="true">
 <div class="my-menu" style="display:none" ng-class="{ 'ng-show': routing != undefined}">
                <ul>
                     <figure class="logo-yeld"><img src="http://xvideos.blog.br/wp-content/uploads/2017/03/Xvideos-1.png" class="logo-inner"></figure>
                     <li ng-show="shouldBack" class="ng-hide">
        
                             <a href="javascript:;" ng-click="navigate(routing)"><i class="material-icons">
                                 arrow_back
                                 </i><span class="ng-binding">{{''}}</span></a></li>
                 <li ng-show="!shouldBack" ng-click="navigate('profile')">
        
                    
        
                    <li class="more" ng-click="ToggleMenu()">
                            <div class="menu-vl" ng-show="displayMenu">
                                    <ul><li><a href="javascript:;">Heterosexual</a></li><li><a href="javascript:;">Gay</a></li><li><a href="javascript:;">Travesti</a></li></ul>
                            </div>
                        <a href="#" ng-hide="routeName == 'Perfil'">
                            <i class="material-icons">more_vert</i></a></li>
        
                         <li class="busca0 clear" ng-class="{'clear': !searching }">
                             <i  ng-click="onlyBack()" class="material-icons b">
                                arrow_back
                                </i>	
                                <input ng-model="searchField" type="text" placeholder="Pesquisar vídeos...">
                        <div ng-hide="routeName == 'Perfil'">
                            <i ng-click="shouldSearch('btn')" class="material-icons">
                        search
                        </i></div></li>
                        </ul>
            </div>    
    <div id="instructions">
        <!-- <video controls crossorigin playsinline id="player">

        </video> -->
        <videogular ng-show="!loading" vg-theme="config.theme.url">
            <vg-media vg-src="config.sources" vg-tracks="config.tracks" vg-native-controls="true">
            </vg-media>
        </videogular>
        <!-- <plyr
            hotlink="{{config.sources[0].src}}" 
            title='33333'
            image="{{config.poster}}"></plyr> -->

        <!-- <div j-query-directive=""></div> -->
        <!-- <video controls crossorigin playsinline id="player"></video> -->
        <!--                             

        <video width="400" controls>
            <source ng-src="{{hotlink}}" type="video/mp4">
        </video> -->
        <!-- <video 
            id="video_holder" 
            class="video-js vjs-default-skin"
            controls 
            preload="none" 
            controls  
            data-setup='{ 
                    "aspectRatio":"16:9", "playbackRates": [1, 1.5, 2] }' 
            poster=''
        >
            <source ng-src="{{currentVid}}" type='video/mp4' />
            <source ng-src="{{currentVid}}" type='video/webm' />
        </video> -->

    </div>
    <ion-content class="resto1">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//vjs.zencdn.net/7.3.0/video.min.js"></script>

        <div class="reaturant">
            <div class="herok">
                <div class="ad-singlev">
                    <div class="ad">ad here</div>
                </div>
                <div class=" spin inner" ng-show="loading">

                    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                    </svg>
                </div>
                <div class="errt" ng-show="loading">
                    <div class="linear-background top">
                    </div>
                    <div class="linear-background title">


                    </div>
                    <div class="linear-background title">


                    </div>
                    <div class="linear-background title">


                    </div>
                    <div class="linear-background title">


                    </div>
                    <div class="linear-background title">


                    </div>
                    <div class="linear-background title">


                    </div>
                </div>
                <div class="figure-prod" ng-show="!loading">
                    <h2 class="page-title">{{video.title}} <span class="duration">{{video.length}} min</span>
                        <!-- <span ng-show="video.type == 'hd'" class="video-hd-mark">HD+</span> -->
                    </h2>
                    <div class="rating-button">
                        <div class="ratebtn btn ripple" ng-class="{'active': video.liked && !video.disliked }" ng-click="like(video.id)">
                            <i class="material-icons">
                                thumb_up_alt
                            </i>
                            <span>{{video.likes||0}}</span>
                        </div>
                        <div class="ratebtn btn ripple"  ng-class="{'active': video.disliked }" ng-click="dislike(video.id)">
                            <i class="material-icons">
                                thumb_down_alt
                            </i>
                            <span>{{video.dislikes||0}}</span>
                        </div>
                        <!-- <div class="ratebtn btn rt  ripple">
                            <i class="material-icons">
                                remove_red_eye
                            </i>
                            <span>{{video.views||1}}</span>
                        </div> -->
                    </div>
                    <!-- <p class="publishedt">{{video.date_readable}}</p> -->
                    <!-- <p class="description" ng-bind-html="video.content | html"></p> -->
                    <div class="categorys">
                        <ul>
                            <li ng-click="searchTag(term.slug)" ng-repeat="term in video.terms"><a href="javascript:;">{{term.name}}</a></li>
                        </ul>
                    </div>
                    <div class="ad-singlev">
                        <div class="ad  ripple">ad here</div>
                    </div>
                    <section class="thumbs" ng-class="{'fadeIn': loading == false && needChange == true, 'displayed': loading == false && needChange == true, 'displayed': needChange == false}">
                        <div class="clear"></div>
                        <a href="javascript:;" ng-click="navigate('restaurant', {videoId: video.uid})" id="video_{{video.uid}}" ng-repeat="video in video.related">
                            <span class="thumb-img">
                                <!-- <span class="time" ng-show="video.length">{{video.length}}m</span> -->
                                <!-- <span class="time is-hd" ng-show="video.type == 'hd'">HD+</span> -->
                                <img ng-src="{{video.image}}">
                            </span>
                            <span class="title">{{video.title_trimed}}</span>
                        </a>
                        <div class="clear"></div>
                        <div class="fooot" ng-show="video.related.length > 10 && loadingMore && !noPosts">
                            <a href="javascript:;" class="ripple btn btn-danger btn-relacionados">
                                Aguarde...
                            </a>
                        </div>
                    <div class="fooot" ng-show="video.related.length > 10 && !loadingMore && !noPosts" ng-click="loadMore()">
                        <a href="javascript:;" class="ripple btn btn-danger btn-relacionados">
                            Ver mais
                        </a>
                    </div>
                        <div class="clear"></div>
                    </section>
                </div>
    </ion-content>
</ion-view>