<ion-view  overflow-scroll="true" >
        <ion-content scroll="true" overflow-scroll="true" class="splash animated" ng-class="{'bounceInUp': loaded == true, 'displayed': loaded == true}"> 
            <h1 class="animated" ng-class="{'flipInX': loadedView == true, 'displayed': loadedView == true}"><img src="http://xvideos.blog.br/wp-content/uploads/2017/03/Xvideos-1.png" class=""></h1>
            <div class=" spin animated" ng-class="{'zoomInUp': loadedView == true, 'displayed': loadedView == true}">

                
<!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
<svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
        <g fill="none" fill-rule="evenodd">
            <g transform="translate(1 1)" stroke-width="2">
                <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                <path d="M36 18c0-9.94-8.06-18-18-18">
                    <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 18 18"
                        to="360 18 18"
                        dur="1s"
                        repeatCount="indefinite"/>
                </path>
            </g>
        </g>
    </svg>
                    </div>
        </ion-content>
</ion-view>